.Flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Store {
    background-color: azure;
    border: 1px solid rgb(201, 255, 255);
    box-sizing: border-box;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
}

.independentFields {
    line-height: 1.5em;
}
.label {
    font-weight: bold;
    display: inline-block;
    margin: 0 10px 0 0;
}

.valueField {
    display: inline-block;
    margin: 0 10px 0 0;
}

.dataTable {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 1.2fr 1fr 1fr 1fr;
    padding: 12px 0;
}

.dataTable div {
    padding: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.columnHeader {
    font-weight: bold;
    border-top: 1px solid black;
}

.rowHeader {
    font-weight: bold;
    border-left: 1px solid black;
}

.submittedAt {
    font-size: 0.7em;
    text-align: right;
    font-style: italic;
}

@media screen and (min-width: 600px) {
    .Flexbox {
        flex-direction: row;
    }
    
    .dataTable {
        padding-top: 13px;
    }

    .label {
        display: block;
    }

    .valueField {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .label {
        display: inline-block;
    }

    .valueField {
        display: inline-block;
    }
}